// background and text color classes
@each $name, $color in $color-list {
  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}

// fixed width
.max-width {
  max-width: $lg-width;
  margin-left: auto;
  margin-right: auto;
}

// buttons
.btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid $light-color;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}

.btn-outline-red {
  border-color: $red-color;
  transition: all 0.2s linear;

  &:hover {
    background-color: $red-color;
    color: white;
  }
}

.btn-red {
  background-color: $red-color;
  color: $white-color;
  transition: all 0.2s linear;

  &:hover {
    background-color: darken($color: $red-color, $amount: 10%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
  }
}

// margin and padding classes
@for $space from 1 through 5 {
  .m-#{$space} {
    margin: #{$space * 0.5}rem;
  }

  .my-#{$space} {
    margin-top: #{$space * 0.5}rem;
    margin-bottom: #{$space * 0.5}rem;
  }

  .mx-#{$space} {
    margin-left: #{$space * 0.5}rem;
    margin-right: #{$space * 0.5}rem;
  }

  .mt-#{$space} {
    margin-top: #{$space * 0.5}rem;
  }

  .mb-#{$space} {
    margin-bottom: #{$space * 0.5}rem;
  }

  .ml-#{$space} {
    margin-left: #{$space * 0.5}rem;
  }

  .mr-#{$space} {
    margin-right: #{$space * 0.5}rem;
  }

  .p-#{$space} {
    padding: #{$space * 0.5}rem;
  }

  .py-#{$space} {
    padding-top: #{$space * 0.5}rem;
    padding-bottom: #{$space * 0.5}rem;
  }

  .px-#{$space} {
    padding-left: #{$space * 0.5}rem;
    padding-right: #{$space * 0.5}rem;
  }

  .pt-#{$space} {
    padding-top: #{$space * 0.5}rem;
  }

  .pb-#{$space} {
    padding-bottom: #{$space * 0.5}rem;
  }

  .pl-#{$space} {
    padding-left: #{$space * 0.5}rem;
  }

  .pr-#{$space} {
    padding-right: #{$space * 0.5}rem;
  }
}

// font sizes
@for $value from 1 through 5 {
  .font-#{$value}x {
    font-size: #{$value}rem;
  }
}

@media (min-width: $medium) {
  @for $value from 1 through 5 {
    .font-md-#{$value}x {
      font-size: #{$value}rem;
    }
  }
}
