@import 'config';
@import 'utility';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// styles for navbar
.top-header {
  display: none;
}

// media query import
@import 'tablet';
@import 'desktop';
