.bg-dark {
  background-color: #272a31;
}

.text-dark {
  color: #272a31;
}

.bg-red {
  background-color: #ec5242;
}

.text-red {
  color: #ec5242;
}

.bg-light {
  background-color: #d3d3d3;
}

.text-light {
  color: #d3d3d3;
}

.bg-lighter {
  background-color: #f7f7f7;
}

.text-lighter {
  color: #f7f7f7;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.max-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #d3d3d3;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}

.btn-outline-red {
  border-color: #ec5242;
}

.btn-red {
  background-color: #ec5242;
  color: #fff;
}

.m-1 {
  margin: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.p-2 {
  padding: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.p-3 {
  padding: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.p-4 {
  padding: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.p-5 {
  padding: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.font-1x {
  font-size: 1rem;
}

.font-2x {
  font-size: 2rem;
}

.font-3x {
  font-size: 3rem;
}

.font-4x {
  font-size: 4rem;
}

.font-5x {
  font-size: 5rem;
}

@media (min-width: 768px) {
  .font-md-1x {
    font-size: 1rem;
  }
  .font-md-2x {
    font-size: 2rem;
  }
  .font-md-3x {
    font-size: 3rem;
  }
  .font-md-4x {
    font-size: 4rem;
  }
  .font-md-5x {
    font-size: 5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:focus {
  outline: 1px dotted #272a31;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.main-heading {
  text-align: center;
  padding: 1rem;
  position: relative;
}

.main-heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 1.5px;
  background-color: #ec5242;
}

.bottom-header .logo-wrapper,
.bottom-header .navbar {
  display: none;
}

.top-header {
  display: none;
}

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  background: transparent;
}

.header.fixed-header {
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  -webkit-animation: slide-down 0.2s ease-in;
          animation: slide-down 0.2s ease-in;
}

.header.fixed-header .bottom-header {
  padding: 0.5rem 1.5rem;
}

@-webkit-keyframes slide-down {
  from {
    top: -150px;
  }
  to {
    top: 0;
  }
}

@keyframes slide-down {
  from {
    top: -150px;
  }
  to {
    top: 0;
  }
}

.banner {
  background-image: url(../images/cover.jpg), -webkit-gradient(linear, left top, left bottom, color-stop(12%, transparent), color-stop(12%, rgba(39, 42, 49, 0.2)));
  background-image: url(../images/cover.jpg), linear-gradient(transparent 12%, rgba(39, 42, 49, 0.2) 12%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: multiply;
}

.banner.about {
  background-image: url(../images/about_banner.jpg), -webkit-gradient(linear, left top, left bottom, color-stop(12%, transparent), color-stop(12%, rgba(39, 42, 49, 0.2)));
  background-image: url(../images/about_banner.jpg), linear-gradient(transparent 12%, rgba(39, 42, 49, 0.2) 12%);
  text-align: center;
}

.banner.about .email {
  text-decoration: underline;
  font-weight: bold;
}

.banner-highlight .top {
  font-weight: normal;
}

.banner-highlight .main {
  color: #e42a17;
  line-height: 1;
  font-weight: 900;
}

.banner-info {
  border: 2px solid #fff;
  background-color: rgba(211, 211, 211, 0.8);
  color: #272a31;
}

.banner-date {
  font-weight: 900;
}

.banner-location {
  color: #e6e6e6;
}

.program {
  background-color: #272a31;
  color: #fff;
}

.program .program-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e424d;
  border: 2px solid transparent;
}

.program .program-item:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.program .program-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.program .program-title {
  font-weight: 900;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.program .program-info {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 0.8rem;
}

.program .program-button {
  text-align: center;
}

.program .program-more {
  display: none;
}

.program .btn-join {
  padding: 1.8rem 2.8rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.artist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artist-item:nth-child(n+4) {
  display: none;
}

.artist-img {
  position: relative;
}

.artist-img::before, .artist-img::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
}

.artist-img::before {
  left: 0;
  top: 0;
  border-left: 3px double #ec5242;
  border-top: 3px double #ec5242;
}

.artist-img::after {
  right: 0;
  bottom: 0;
  border-right: 3px double #ec5242;
  border-bottom: 3px double #ec5242;
}

.artist-img img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.artist-info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.artist-profession {
  font-style: italic;
  position: relative;
  font-size: 0.9rem;
}

.artist-profession::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  background-color: #d3d3d3;
  height: 1px;
}

.artist-short-bio {
  font-size: 0.9rem;
  color: #272a31;
  line-height: 1.4;
}

.artist-button .btn-more {
  border-radius: 3px;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 1rem;
}

.artist-button .iconify {
  font-size: 1.5rem;
}

.partner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-item {
  width: 180px;
}

.partner-item .partner-logo {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.partner-item .partner-logo:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.partner .partner-link:focus .partner-logo {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.heading-info {
  text-align: center;
}

.about-logo {
  text-align: center;
}

.about-logo .logo-wrapper {
  border: 1px solid #d3d3d3;
  max-width: 300px;
  padding: 2rem 4rem;
  margin-left: auto;
  margin-right: auto;
}

.past-exhibition-link:focus .past-exhibition-item {
  background-color: rgba(236, 82, 66, 0.5);
}

.past-exhibition-item {
  min-height: 250px;
  background-color: rgba(236, 82, 66, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.past-exhibition-item:hover {
  background-color: rgba(236, 82, 66, 0.5);
}

.past-exhibition-item.first {
  background-image: url(../images/cover_2018.jpg);
}

.past-exhibition-item.second {
  background-image: url(../images/cover_2016.jpg);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer.bg-dark {
  color: white;
}

.footer.about-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-logo-text {
  white-space: nowrap;
  line-height: 1;
}

.footer .copyright {
  color: #686868;
}

@media (min-width: 768px) {
  .navbar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .top-header {
    display: block;
  }
  .top-header .navbar-items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bottom-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bottom-header .navbar-toogle {
    display: none;
  }
  .bottom-header .logo-wrapper,
  .bottom-header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-header .btn-outline {
    border-width: 4px;
  }
  .bottom-header .nav-link.active, .bottom-header .nav-link:hover {
    color: #ec5242;
  }
  .header {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  }
  .header.fixed-header .top-header {
    display: none;
  }
  .banner {
    background-image: url(../images/cover.jpg), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, rgba(39, 42, 49, 0.2)));
    background-image: url(../images/cover.jpg), linear-gradient(transparent 0%, rgba(39, 42, 49, 0.2) 0%);
    min-height: 65vh;
  }
  .banner-highlight, .banner-info, .banner-date-location {
    max-width: 60%;
  }
  .banner-highlight .top {
    font-size: 2rem;
  }
  .banner-highlight .main {
    font-size: 4rem;
  }
  .banner.about {
    background-image: url(../images/about_banner.jpg), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, rgba(39, 42, 49, 0.2)));
    background-image: url(../images/about_banner.jpg), linear-gradient(transparent 0%, rgba(39, 42, 49, 0.2) 0%);
  }
  .banner.about .banner-highlight,
  .banner.about .banner-info,
  .banner.about .banner-date-location {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .program .program-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
  }
  .program .program-item {
    display: block;
    text-align: center;
  }
  .program .program-button .btn-red {
    display: none;
  }
  .program .program-more {
    display: block;
    text-decoration: underline;
  }
  .program .program-more:hover {
    color: #ec5242;
  }
  .artist-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .artist-item:nth-child(n+4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .artist-button {
    display: none;
  }
  .about-logo .heading-info {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .past-exhibition-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .past-exhibition-item {
    min-height: 200px;
    min-width: 350px;
  }
  .past-exhibition-item.first {
    margin-right: 0.5rem;
  }
  .past-exhibition-item.second {
    margin-left: 0.5rem;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
